<!DOCTYPE html>
<html>
  <body>
	{% if img_url is not none %}
	<p><img src="{{ img_url }}" alt="Original image" width="{{ width }}"></p>
	{% endif %}
	<canvas id="myCanvas" width="{{ width }} " height="{{ height }}"
			style="border:1px solid #d3d3d3;">
	  Your browser does not support the HTML5 canvas tag.</canvas>
	<script>
	  var c = document.getElementById("myCanvas");
	  var ctx = c.getContext("2d");
	  {% for color in colors %}
	      ctx.fillStyle="{{ color.raw_hex }}";
	      ctx.fillRect({{ color.start }}, 0, {{ color.end }}, {{ height }});
      {% endfor %}
	</script>
  </body>
</html>

<!--
{'colors': [{'raw_hex': '#513f2c',
      'value': 0.14725,
      'w3c': {'hex': '#696969', 'name': 'DimGray'}},
     {'raw_hex': '#7298e2',
      'value': 0.31575,
      'w3c': {'hex': '#6495ed', 'name': 'CornflowerBlue'}},
     {'raw_hex': '#1e181b',
      'value': 0.20175,
      'w3c': {'hex': '#000000', 'name': 'Black'}},
     {'raw_hex': '#8f714b',
      'value': 0.1125,
      'w3c': {'hex': '#d2b48c', 'name': 'Tan'}},
     {'raw_hex': '#d2c275',
      'value': 0.017,
      'w3c': {'hex': '#bdb76b', 'name': 'DarkKhaki'}},
     {'raw_hex': '#141b3c',
      'value': 0.12,
      'w3c': {'hex': '#000000', 'name': 'Black'}},
     {'raw_hex': '#404b84',
      'value': 0.0705,
      'w3c': {'hex': '#483d8b', 'name': 'DarkSlateBlue'}},
     {'raw_hex': '#e5e1cc',
      'value': 0.01525,
      'w3c': {'hex': '#faebd7', 'name': 'AntiqueWhite'} -->
